.mainFxmlClass {
    -fx-background-color: #333333;
}

.pane {
    -fx-border-color: #FFFFFF;
    -fx-border-radius: 20px;
}

.textinput {
    -fx-background-color: #666666;
    -fx-text-fill: #FFFFFF;
}

.mainTasks {
    -fx-background-color: #333333;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane .track {
    -fx-background-color: #333333;
    -fx-background-radius: 5px;
}

.scroll-pane .thumb {
    -fx-background-color: #666666;
    -fx-background-insets: 0;
    -fx-background-radius: 5px;
}

.scroll-pane .increment-button, .scroll-pane .decrement-button {
    -fx-padding: 0;
    -fx-background-color: #333333;
}

.task {
    -fx-border-color: #FFFFFF;
    -fx-border-radius: 10px;
}

.button {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparen;
}
